<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="https://googledrive.com/host/0B27nlsVVtYCta2ZBaXdod0FfMEk">
<link rel="stylesheet" href="https://googledrive.com/host/0B27nlsVVtYCtQXFtLWVGOFpWdUU">
<!--<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>

.btn-group{
position: absolute;
top: 5%;
left: 45%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
p{
 font-size:18px;
}

h1{
 font-size:18px;
 font-family:'cwTeXHei', serif;
 letter-spacing: 2px;
　}
ul,li{margin:10;}
h3{
color: #FFFFFF;
}

#content{
margin-top:0px;
}


</style>
<body>
<div id="content" class="container">
<div class="column-12">


  <button type="button" name="add" id="add"value="新增" onclick='location.href="/admin/add"'class="btn btn-default">新增</button>
  <input type="submit" name="edit" id="edit" value="編輯" onclick='test(1)'class="btn btn-default">
  <input type="submit" name="delete" id="delete" value="刪除" onclick='test(2)'class="btn btn-default">
  </div>
  </div>
</body>
</head>
</html>

