<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link rel="stylesheet" media="screen" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="https://955f94d0bbdc9e74bb31fada63cefbf20b476b6c.googledrive.com/host/0B27nlsVVtYCtU2hhXzd6amJodFU">
<link rel="stylesheet" href="https://googledrive.com/host/0B27nlsVVtYCtZ3lpR21FNjJBTms">
<!--<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>
 h1{
 font-size:18px;
 font-family:'cwTeXHei', serif;
 letter-spacing: 2px;
　}
ul,li{margin:10;}
h3{
color: #FFFFFF;
}
.container-main{
margin-top:120px;
text-align: center;
}


#bs-example-navbar-collapse-1
{
margin-left:200px;
}
</style>

</head>
<script>
location.href="./admin_index";
</script>
<body>
</body>
</html>








