@(message: String)
@header = {
	
}
@main("Gallery Search - Fast Lab")(message)(header) {

	<section>
		<div class="container">
			<p class="text-center breadcrumb">
				<span>Tool Lab &gt;</span>
				<span class="page-title">Gallery Search</span>
			</p>
		</div>
		<div class="container-tool-lab">
			<h2 class="text-center article-title">輸入中文系統將自動轉為對應英文</h2>
			<div class="text-center">
				<div class="float-left column-9">
					<input class="text-center menu-text column-12" type="text" placeholder="請輸入查詢圖檔名稱">
				</div>
				<div class="float-right">
					<input class="menu-button" type="button" value="查詢">
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="container-tool-lab">
			<p class="text-center article-title">搜尋結果</p>
			<div class="search-result text-center">
				<div class="search-result-item float-left column-4">
					<div>123</div>
				</div>
				<div class="search-result-item float-left column-4">
					<div>123</div>
				</div>
				<div class="search-result-item float-left column-4">
					<div>123</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="text-center">
				<input class="menu-button column-12" type="button" value="搜尋">
			</div>
		</div>
	</section>

}