@(message: String)
@header = {

}

@main("Sitemap - Fast Lab")(message)(header) {
  	<section> 
        <div class="container">
        <div class="column-12">
	<p class="article-title guideline-title text-center">網站概述</p>
	<p class="article-content">本網站依據行政院研究發展考核委員會訂定之「無障礙網頁開發規範」而建置， 遵循無障礙網站設計之規範提供網頁定位點(:::)、網站導覽 (Site Navigator)、鍵盤快速鍵 (Access Key) 等設計方式， 以幫助障礙人士使用。本網站的主要樣版內容分為三大區塊。</p>
	</div>
	<div class="column-12">
	<p class="article-title guideline-title text-center">網站導盲磚設置</p>
	<p class="article-content"><h1>IE</h1></p>
        <p class="article-content">Alt+U ：上方功能選項區，此區塊列有本網站的主要功能連結。</p>
        <p class="article-content">Alt+C ："主要內容區，此區塊呈現各網頁的網頁內容。</p>
        <p class="article-content">Alt+B ：下方內容，此區塊呈現各網頁的相關連結。</p>
	<p class="article-content">Alt+S ：此區塊可輸入關鍵字進行本圖庫網站的圖庫查詢。
	
	<p class="article-content"><h1>Firefox</h1></p>
        <p class="article-content">Alt+Shift+U ：上方功能選項區，此區塊列有本網站的主要功能連結。</p>
        <p class="article-content">Alt+Shift+C ："主要內容區，此區塊呈現各網頁的網頁內
容。</p>
<!--        <p class="article-content">Alt+Shift+B ：下方內容，此區塊呈現各網頁的相關連結。</p>
        <p class="article-content">Alt+Shift+S ：此區塊可輸入關鍵字進行本圖庫網站的圖庫查詢。
-->

	</div>
	<div class="column-12">
	<p class="article-title guideline-title text-center">網站地圖</p>

	<p class="article-content"><a href="https://fastlab.cc/Fast-Lab-3D-Model-Gallery/0?pageIdx=1">1.3D創作集<p></a>
	<p class="article-content"><a href="https://fastlab.cc/Upload-Model">2.創作上傳<p></a>
	<p class="article-content"><a href="https://fastlab.cc/Fast-Lab/sign-in">3.登入/註冊<p></a>
	</div>



    </div>
    </section>
}
