@(message: String)


<head>
        

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("clean-blog-gh-pages/vendor/bootstrap/css/bootstrap.min.css")">

    <!-- Theme CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("clean-blog-gh-pages/css/clean-blog.min.css")">

    <!-- Custom Fonts -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("clean-blog-gh-pages/vendor/font-awesome/css/font-awesome.min.css")">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
   <script src="@routes.Assets.versioned("clean-blog-gh-pages/vendor/jquery/jquery.min.js")" type="text/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.versioned("clean-blog-gh-pages/vendor/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

    <!-- Contact Form JavaScript -->
    <script src="@routes.Assets.versioned("clean-blog-gh-pages/js/jqBootstrapValidation.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("clean-blog-gh-pages/js/contact_me.js")" type="text/javascript"></script>

    <!-- Theme JavaScript -->
    <script src="@routes.Assets.versioned("clean-blog-gh-pages/js/clean-blog.min.js")" type="text/javascript"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<section>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/hackforlocal/index">Ruru.284.284.2k7</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/hackforlocal/index">Home</a>
                    </li>
                    <li>
                        <a href="/hackforlocal/about">About</a>
                    </li>
                    <li>
                        <a href="/hackforlocal/post">Solution</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('@routes.Application.imageAt("img", "home-bg.jpg")')">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Ruru.284.284.2k7</h1>
                        <hr class="small">
                        <span class="subheading">Plan like a guide, Travel Like a Local.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/hackforlocal/post">
                        <h2 class="post-title">
                            由於國內觀光旅遊逐年上升，而各地景點也是如雨後春筍般不斷的冒出，但提起嘉義大家腦中浮現都只會有阿里山、火雞肉飯...等，而在旅行前規劃總會遇到安排行程的問題，尤其在人生地不熟的地方，更容易失去距離感與時間觀，所以我們打算使用最佳化演算法來規劃旅途行程，在多個景點當中找到最適合的路徑節省旅途時間外又能增加觀光效益。而在資料的使用上我們預計使用嘉義縣市的旅遊景點名單、美食小吃名單與商店名單...等資料。
                        </h2>
                        <h3 class="post-subtitle">
                           Ruru.284.284.2k7
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Ruru.284.284.2k7</a> on 07 16, 2017</p>
                </div>
                <hr>
>

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>


</section>