@(message: String)

@header = {}

@main("Home - Fast Lab")(message)(header) {

	<section>
		<div class="container">

            <div class="column-12">
                <p class="article-title guideline-title text-center">3D列印產業推動計畫 </p>
                <p class="article-content">3D列印技術是釋放創新能量的重要工具，為了串接台灣3D列印軟硬體、應用和服務形成生體體系，帶動自造者運動 (maker movement)，形塑由自造者驅動的共創經濟，經濟部工業局「3D列印產業發展推動計畫」涵蓋以下3大主軸：</p>
            	<p class="article-content">(1)串接既有自造者空間(maker space)，推動創用中心-FAST Lab (Fabric Application & Service Testing Lab)</p>
				<p class="article-content">(2)建立3D列印資源整合平台，發展3D列印消費型應用</p>
				<p class="article-content">(3)結合各部會能量，推動各領域運用3D列印技術加速服務創新。</p>
			</div>
            <div class="column-12">
                <p class="article-title guideline-title text-center">FAST Lab 創用中心 </p>
                <p class="article-content">Fast Lab Development and Application Center
					為打通創意進入市場的最後一哩路，在經濟部工業局的指導下，資策會與工研院分別在台北科技大學點子工場(i-Foundry)、台南府都ALL IN ONE (TO.GATHER)設立「FAST Lab創用中心」，結合Maker Space、Co-working Space、創新創業輔導服務，並建立3D列印創作端與需求端的媒合接單機制，協助創客將「創意作品」打造為「成功商品」，也協助應用端產業加速實現創新概念。</p>
            </div>
			<div class="column-12">
				<p class="article-title guideline-title text-center">FAST Lab 3D列印資源整合平台</p>
				<p class="article-content">Fast Lab Development and Application Center
					Platform for Integration of 3D Printing Resources
					因應未來3D列印應用領域的發展，FAST Lab亦同步建置3D列印資源整合平台，以3D列印內容為核心，提供3D列印創作的分享交流，並結合Maker社群與業學界能量，匯集相關工具與服務資源。</p>
				<p class="article-content">後續亦將透過競賽舉辦，鼓勵群眾創意發想與創意實踐，從創作到應用促進3D列印相關軟體、應用與服務創新加速。詳細資訊請參考：「FAST Lab - 3D列印創用中心」Facebook粉絲團 </p>
			</div>
	</section>
	<div class="on-footer">
		<div class="section-bottom">
			<img src="@routes.Application.imageAt("images", "section_bottom.png")" title="buttonimage" alt="buttonimage">
		</div>
	</div>
}
