@(iiimodels: List[IIIModel])
@header = {
    <script type="text/javascript">

    </script>
}


@main("Member Gallery - Fast Lab")("")(header) {
<div class="container container-gallery">
    <div class="inner-container-gallery block-center">
        @if(iiimodels != null) {
            @for(i<-0 to iiimodels.size()-1) {
                <div class="float-left gallery-item-box">
                    <div class="column-12 gallery-item">
                        <h2 class="column-12">@iiimodels.get(i).modelName</h2>
                        <a href="@routes.Application.modelDetail(iiimodels.get(i).modelID)" tabindex="@(20+i)">
                            <img src="@routes.Application.imageAt("thumbnail", iiimodels.get(i).modelThumbnails(0).thumbnailFilename)" width="235" height="200" title="@iiimodels.get(i).modelName" alt="@iiimodels.get(i).modelName">
                        </a>
                        <div class="column-12 gallery-item-info">
                                <!--TODO: The avatar URL of the user.  -->
                            <img class="image-middle" src="@routes.Application.imageAt("myProfile", iiimodels.get(i).member.bannerImageName)"  width="18" height="18" style="padding:0;margin-right:5px;" title="nick name" alt="nick name">@iiimodels.get(i).member.nickName
                        </div>
                    </div>
                </div>

            }
            <div class="clear"></div>
        }
    </div>
</div>
}
