@(message: String)

@header = {}

@main("Home - Fast Lab")(message)(header) {

	<section>
		<div class="container">
			<div class="column-12">
				<h2>隱私權政策</h2>
			</div>
            <div class="column-12">
                <p class="article-title guideline-title text-center">資訊安全宣告</p>
                <p class="article-content">資策會Fast Lab（以下簡稱本網站）為確保網際網路使用者在瀏覽本網站時的隱私權，故訂定此隱私權說明。藉以協助您瞭解本會如何保護您所提供的個人資訊，以及如何蒐集、運用及保護您所提供的各項資訊。請您詳讀下列內容，以促進您安心使用本網站的各項貼心服務。同時，本網站所蒐集到的個人資料，除其他法律另有規定者外，謹遵守「電腦處理個人資料保護法」、「行政院及所屬各機關資訊安全管理要點」及本會「資訊安全管理作業手冊」之規範辦理。</p>
            </div>
            <div class="column-12">
                <p class="article-title guideline-title text-center">Cookies及其他技術</p>
                <p class="article-content">Fast Lab的網站、線上服務、電子郵件訊息及廣告，可能使用 Cookies以及其他技術,如網站信標與像素標籤。此等技術可協助我們更了解使用者行為、告訴我們使用者曾瀏覽過我們網站的哪些部分、提升及衡量廣告與網路搜尋的效益，並讓您在使用本網站時更方便與個人化。除非法律另有規定，本網站認為從Cookies與其他技術中得到的資訊，非屬個人資料。</p>
                <p class="article-content">您可以設定您的瀏覽器通知您選擇是否予許Cookies技術的使用。然而，請注意若您選擇拒絕接受Cookies時，將可能會造成您使用本網站服務時的部分功能收到限制。</p>
            </div>
            <div class="column-12">
                <p class="article-title guideline-title text-center">隱私權政策宣示適用範圍</p>
                <p class="article-content">以下的隱私權政策，適用於您在本網站活動時，所涉及的個人資料蒐集、運用與保護，但不適用於與本網站功能連結之各政府機關網站與繳費網站。為了便利您操作與取得相關信息，本網站上設有連結點方便您連結第三方網站。凡經由本網站連結之網站，各網站均有其專屬之隱私權政策，本網站不負任何連帶責任。當您連結這些網站時，關於個人資料的保護，適用各該網站的隱私權政策。</p>
            </div>
            <div class="column-12">
                <p class="article-title guideline-title text-center"></p>
                <p class="article-content">本網站將會蒐集您所提供給之資料。這些資料將會用來確認您的個人身分資訊，例如您的姓名、地址、電話號碼、電子信箱、使用者帳號與密碼以及其他官方所核發的號碼。</p>
                <p class="article-content">網站會記錄使用者上網的IP位址、上網時間以及在網站內所瀏覽的網頁等資料，這些資料係供本網站網站管理單位內部作網站流量和網路行為調查的總量分析，以利於提昇本網站的服務品質，且僅對全體使用者行為總和進行分析，並不會對個別使用者進行分析。</p>
                <p class="article-content">本網站有義務保護各申請人隱私，非經您本人同意不會自行修改或刪除任何個人資料及檔案。除非經過您事先同意或符合以下情況始得為之：</p>
                <p class="article-content">
                	<ul>
                		<li>經由合法的途徑。</li>
                		<li>違反本網站規定事項，如在交流園地中出現謾罵或做人身攻擊的言論時。</li>
                		<li>保護或防衛相關網路民眾的權利或所有權。</li>
                		<li>為保護本網站各相關單位之權益。</li>
                	</ul>
                </p>
                <p class="article-content">本網站絕不會任意出售、交換、或出租任何您的個人資料給其他團體、個人或私人企業。但有下列情形者除外：</p>
                <p class="article-content">
                	<ul>
                		<li>配合司法單位合法的調查。</li>
                		<li>配合相關職權機關依職務需要之調查或使用。</li>
                		<li>基於善意相信揭露為法律需要，或為維護和改進網站服務而用於管理。</li>
                	</ul>
                </p>
            </div>
            <div class="column-12">
                <p class="article-title guideline-title text-center">個人應盡之義務</p>
                <p class="article-content">凡登記成為本網站網路民眾並利用本網站提供之線上申請服務者，皆有義務維持並更新其所屬個人資料，並確保該資料為正確、最新以及完整性。</p>
                <p class="article-content">若您提供任何錯誤或不實的資料，本網站各相關經營單位有權拒絕您以該帳號使用網站之全部或部份服務。</p>
                <p class="article-content">維持密碼及帳號的機密安全，是本網站及各相關經營單位與您共同的責任。</p>
                <p class="article-content">您的密碼或帳號遭到盜用或有其他任何安全問題發生時，請您立即以電子郵件通知本網站，以便資訊人員協助處理。</p>
                <p class="article-content">確保每次連線完畢，均會登出帳號使用以保護個人帳號不會遭到其他人濫用。若您是與他人共享電腦或使用公共電腦，切記要關閉瀏覽器視窗，以防止他人讀取您的個人資料或信件。</p>
                <p class="article-content">所有網路民眾行為應遵循國內、外法律規範，並且對於個人所屬帳號、密碼所發生之情事負全部責任。</p>
            </div>
            <div class="column-12">
                <p class="article-title guideline-title text-center">隱私權政策宣示適用範圍</p>
                <p class="article-content">本網站得修正或修改本隱私權政策。修正後的隱私權政策將在此公佈，並附上更新日期。若隱私權政策有重大變更時，本網站會在Fast Lab網站上公告。</p>
            </div>
            <div class="column-12">
                <p class="article-title guideline-title text-center">隱私權問題與建議</p>
                <p class="article-content">若您對Fast Lab隱私權政策有任何疑問或建議，請聯絡我們: fastlab@@ideas.iii.org.tw</p>
            </div>
	</section>
	<div class="on-footer">
		<div class="section-bottom">
			<img src="@routes.Application.imageAt("images", "section_bottom.png")" title="buttonimage" alt="buttonimage">
		</div>
	</div>
}
