@(message:String , email: String, token: String)
@import helper._
@header = {

}

@main("Upload Model - Fast Lab")(message)(header) {
    <div class="newModel">
    @form(action = routes.Application.resetPasswordSubmit(), 'enctype -> "multipart/form-data") {
        <section>
	@CSRF.formField
            <div><input tabindex="25" type="password" placeholder="new password" name="password"/></div>
            <div><input tabindex="26" type="password" placeholder="confirm password"/></div>
            <div><input tabindex="27" type="text" value="@email" hidden name="email"/></div>
            <div><input tabindex="28" type="text" value="@token" hidden name="token"/></div>
            <div><input tabindex="29" type="submit" value="submit"/></div>
        </section>
    </div>
}
}
