@(message: String)

@header = {}

@main("Home - Fast Lab")(message)(header) {

  <section>
    <div class="container">

      <div class="column-12">
        <p class="article-title guideline-title text-center">使用條款</p>
        <p class="article-content">本使用條款適用於財團法人資訊工業策進會Fast Lab網站，網址為 http://fastlab.tw/ ，及Fast Lab網站全球所有的訪客與用戶。請詳閱本使用條款。</p>
        <p class="article-content">當您透過存取，進入或使用本網站時，您接受並同意下列使用條款。如果您不接本使用條款，請不要使用本網站。</p>
        <p class="article-content">Fast Lab有權隨時變更、修改、增加或刪除本使用條款之一部或全部。如您繼續使用本網站，即代表您接受並同意Fast Lab對本條款的修改。如果您不接受Fast Lab對本條款所做的修改，您唯一的救濟方法為停止使用本網站。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">內容</p>
        <p class="article-content">所有的內容包括文字、圖形、使用者介面、視覺介面、照片、商標、標誌、聲音、音樂、插圖、電腦代碼(統稱”內容”)，包括但不限於設計、結構配置、選擇、統整、視覺感受、表達及安排內容。網站上所有內容皆為Fast Lab所有或已授權予Fast Lab，且受著作權、專利權、商標權以及其他智慧財產權與不正當競爭法的保護。</p>
        <p class="article-content">除本使用條款另有明文規定外，未經Fast Lab事前書面同意，不得為公眾或商業目的，以任何方式或手段，複製、轉載、再版、上傳、張貼、公開展示、編碼、翻譯、傳送、發表或散佈本網站內容之一部或全部。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">網站註冊</p>
        <p class="article-content">為了能夠使用本網站的某些功能，您應依本網站註冊表格之提示提供您的個人資料。您在此聲明並且保證所有您提供之登錄資料均為真實且正確。 若Fast Lab依其自行考量後認為您已違反本使用條款、任何法律、規則、規定、從事不正當行為或其他商業目的，Fast Lab有權在未事前通知您或不負擔任何責任的情況下，立即終止或限制您的帳號、進入本網站或對於本網站之使用。</p>
      </div>

      <div class="column-12">
        <p class="article-title guideline-title text-center">網站使用</p>
        <p class="article-content">您對於本網站之使用為所有聯邦法、州法與地方法規範。本網站所有資訊皆受到美國出口管制法規範，同時，也可能為您居住國家之法律規範。您不得違反本使用條款或出於違法目的而使用本網站或內容。</p>
        <p class="article-content">您同意Fast Lab經自行判斷，無需事先通知您，於包括但不限於您違反本使用條款或依執法機關或其他政府單位要求時，得隨時以任何理由逕行終止或封鎖您使用本網站。</p>

      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">其他條款</p>
        <p class="article-content">尚有其他條款可能會適用於您所下載的3D檔案或使用本網站的特定部分（下稱其他條款）。其他條款為本使用條款的一部分，且您同意遵守所有其他條款之約定。若其他條款與本使用條款牴觸時，於您使用本網站特定部分時，其他條款優先適用。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">隱私權</p>
        <p class="article-content">Fast Lab的隱私權政策亦適用於本網站且為本使用條款之一部份。點擊此連結至Fast Lab隱私權政策。 點擊此連結 至Fast Lab隱私權政策。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">產品及服務的可用性及準確性</p>
        <p class="article-content">關於本網站所記載或描述之產品及服務，其特性、內容及規格如有變更，將不另行通知。Fast Lab基於經營本網站之立場，將儘可能準確地陳列我們產品的屬性，包括產品上可適用的顏色。惟於特定時點陳列在本網站上之產品及服務，並不表示該產品及服務可隨時購得。Fast Lab儘可能確保證本網站上資訊之完整性、正確性及即時性。惟Fast Lab雖已盡相當之努力，該網站上之資訊仍不免發生不正確、不完整或過時等問題。因此，Fast Lab並不保證本網站資訊之完整性、精確性或正確性。例如，實際產品的屬性與網站上所陳列者並不一致等等。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">免責聲明</p>
        <p class="article-content">Fast Lab不保證本網站或其內容無任何錯誤、本網站於使用時不中斷、或可提供即時、安全可靠、沒有錯誤的網站內容，亦不保證本網站中的缺陷將被更正。本網站及其內容皆係以「現況」及「現有」的狀態提供您使用。Fast Lab對於本網站不提供任何明示、默示或法定保證，包含但不限於正確性、可銷售性、適合於特別目的之使用以及未侵犯智慧財產權之保證。Fast Lab亦不對與您使用本網站有關的第三人行為及疏忽，承擔任何責任，您應承擔所有因使用本網站所衍生的費用及風險，包括但不限於自本網站下載或者自本網站所取得的資訊。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">責任限制</p>
        <p class="article-content">除為法令所禁止外，您已明確地了解並同意在任何情況下，Fast Lab均不對任何間接、特殊、附隨、懲罰性或衍生性損害賠償負責，包括但不限於利潤或收益上損失、商譽損失、使用損失、營業中斷或其他無形損失，即便Fast Lab已被告知或應知該等情況之可能性亦然。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">拋棄</p>
        <p class="article-content">於法律所允許的範圍內，您同意拋棄任何因Fast Lab暫停或終止您進入或使用本網站而對於Fast Lab在訴訟上主張或賠償請求。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">賠償</p>
        <p class="article-content">您同意賠償、防禦及使Fast Lab，資策會的職員或代理人或因您使用或違反本使用條款而導致或引起之索賠、責任、損害、損失、律師費或支出。 Fast Lab保留關於您賠償Fast Lab之外事務的專屬抗辯權及控制權，若發生此類事務，您同意全力配合本會抗辯此類索賠。Fast Lab將會儘速以書面通知您此類爭議或索賠。未經Fast Lab事前書面同意，您無權代表Fast Lab承認任何錯誤、責任，作出協議、妥協或是對於爭議、索賠作出和解。非經Fast Lab以書面明確表示放棄，遲延行使或未行使並不會造成Fast Lab放棄依本使用條款所享有的法律權利與救濟。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">第三方網站連結</p>
        <p class="article-content">本網站所提供的第三方網站連結完全是為了您的方便所設置。如果您決定存取任何與本網站連結的第三方網站，您必須自行承擔一切風險，Fast Lab對於該網站所提供的任何資訊、數據、建議、聲明的正確性或可信度不負任何責任。Fast Lab無權控制該第三方網站，亦不對該第三方網站或透過該第三方網站獲取的任何資訊或結果負責。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">準據法;爭議解決</p>
        <p class="article-content">不論法律原則衝突或您真實的居住地，您存取或使用本公司網站、內容而衍生出的所有爭議應適用中華民國法律為準據法。您同意您與Fast Lab(台灣註冊公司)間所有爭議或有關您使用本公司，網站、內容時所產生爭議均專屬於台灣法院管轄。您亦同意對於任何與資策會、Fast Lab、資策會之員工、與資策會立契約者、職員、電信及內容提供者有關的爭議與任何索賠，以中華民國(台灣)台北法院為管轄法院。您同意因您對於本網站使用而發生之任何索賠或求償必須在該行為或疏忽發生後一年內提出訴訟或請求。</p>
      </div>
      <div class="column-12">
        <p class="article-title guideline-title text-center">一般條款</p>
        <p class="article-content">本使用條款及您使用Fast Lab網站特定部分時同意的其他條款，取代您之前與Fast Lab間就相關事項達成的任何協議或協商，為您與 Fast Lab完整、專屬的最終合約規範。若Fast Lab未行使或執行本使用條款中的任何權利或約定，不構成對該權利或約定的放棄。若本使用條款的約定，經有管轄權法院認定無效，您仍同意法院應盡力使當事人於前開約定所表達的真意生效，且本使用條款其他規定仍應完全有效。本使用條款中的標題僅係為方便閱讀，無任何法律或合約效力。即使在您終止使用Fast Lab網站後，本使用條款仍具有完全效力。本使用條款不會以支持或反對您或Fast Lab 的嚴格釋意方式加以解釋。</p>
      </div>
    </div>
  </section>
  <div class="on-footer">
    <div class="section-bottom">
      <img src="@routes.Application.imageAt("images", "section_bottom.png")" title="button image" alt="button image">
    </div>
  </div>
}