@(message: String, iiimodelcategories: List[IIIModelCategory], iiimodellicense: List[IIIModelLicense], campaigns: List[Campaign])
@import helper._;
@header = {
    <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
    <script type="text/javascript">
        function isAbleToDragAndDrop() {
            var div = document.createElement('div');
            return ('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)
        }
        function hasFormData() {
            return 'FormData' in window;
        }
        function hasFileReader() {
            return 'FileReader' in window;
        }
        var isAdvancedUpload = function() {
            return isAbleToDragAndDrop() && hasFormData() && hasFileReader();
        }();

        function submitnewmodel() {
            // check necessary column
            if(!$("#stlStr").val()) {
                alert("請至少選一個STL檔/Please include at least 1 STL");
                return false;
            }
		//上傳圖片驗證
	    if(!$("#imageStr").val()) {
                alert("請至少選一個圖片/Please include at least 1 Image");
                return false;
            } 

            if(!$("#modelName").val()) {
                alert("請輸入模型名稱/Please key in model name");
                $("#modelName").focus();
                return false;
            }

            if(!$('#modelTags').val() && $('#modelTags').val() != 0) {
                alert("please select a tag");
                $("#modelTags").focus();
                return false;
            }

            var parameter = {'stl':$("#stlStr").val(),'image':$("#imageStr").val(),'modelName':$("#modelName").val(),'modelTags':$("#modelTags").val(),'description':$("#description").val(),'scenario':$("#scenario").val(),'instruction':$("#instruction").val(),'category':$("#category").val(),'license':$("#license").val()};
            document.getElementById('newmodel').disabled=true;
	        	$.ajax({
	            	type : 'POST',
	            	url : '@routes.Application.submitModel()',
	            	dataType : 'text',
	            	data : JSON.stringify(parameter),
	            	contentType: "application/json; charset=utf-8"
				}).done(function(data) {
            		alert("new model success");
                    window.location.href = "/Fast-Lab-3D-Model-Gallery/0?pageIdx=1";
				}).fail(function(xhr, ajaxOptions, thrownError) {
	                console.log("clickrating fail:"+xhr.status);
	                //上傳失敗重新導向頁面
			alert("Upload model fail,  Please re-upload this file from your.");
			location.href="../Upload-Model";
			
				});
        }

        $(document).ready(function() {
            function fileUploader($form, done) {
                // var $form = $('.upload-box');
                var $input = $form.find('input[type="file"]'),
                    $label = $form.find('label'),
                    showFiles = function() {

                        // $label.text(files.length > 1 ? ($input.attr('data-multiple-caption') || '').replace( '{count}', files.length ) : files[ 0 ].name);
                    };
                var droppedFiles = false;

                $form.on('submit', function(e) {
                    if ($form.hasClass('is-uploading')) return false;

                    $form.addClass('is-uploading').removeClass('is-error');

                    if (isAdvancedUpload) {
                         e.preventDefault();

                        var ajaxData = new FormData($form.get(0));

                        if (droppedFiles) {
                            $.each( droppedFiles, function(i, file) {
                                ajaxData.append( $input.attr('name'), file );
                            });
                        }

                        $.ajax({
                            xhr: function() {
                                var xhr = new window.XMLHttpRequest();

                                xhr.upload.addEventListener("progress", function(evt) {
                                    if (evt.lengthComputable) {
                                        var percentComplete = evt.loaded / evt.total;
                                        percentComplete = parseInt(percentComplete * 100);
                                        console.log(percentComplete); //TODO: Show progress bar.
                                    }
                                }, false);

                                return xhr;
                            },
                            url: $form.attr('action'),
                            type: $form.attr('method'),
                            data: ajaxData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            complete: function() {
                                $form.removeClass('is-uploading');
                            },
                            success: function(data) {
                                $form.addClass( data.success == true ? 'is-success' : 'is-error' );
                                try {
                                   alert("success by fa");
                                    var resultJSON = JSON.parse(data);
                                    alert("retCode=" + resultJSON.retCode )
                                    if(resultJSON.retCode == "0") done(resultJSON.files);
                                    else alert(resultJSON.retMessage);
                                } catch (e) {
                                    //alert("1222");
                                    console.log(e)
                                    alert('上傳失敗，請再上傳一次。');
                                }
                            },
                            error: function(e) {
                                //alert("OOXX");
                                console.log(e)
                                 alert('上傳失敗，請再上傳一次。');
                                // Log the error, show an alert, whatever works for you
                            }
                        });
                    } else {
                        var iframeName  = 'uploadiframe' + new Date().getTime();
                        $iframe   = $('<iframe name="' + iframeName + '" style="display: none;"></iframe>');

                        $('body').append($iframe);
                        $form.attr('target', iframeName);

                        $iframe.one('load', function() {
                            var data = JSON.parse($iframe.contents().find('body' ).text());
                            $form
                                .removeClass('is-uploading')
                                .addClass(data.success == true ? 'is-success' : 'is-error')
                                .removeAttr('target');
                            $form.removeAttr('target');
                            $iframe.remove();
                            try {
                                var resultJSON = JSON.parse(data);
                                if(resultJSON.retCode == "0") done(resultJSON.files);
                                else alert(resultJSON.retMessage);
                            } catch (e) {
                                alert('上傳失敗，請再上傳一次。');
                            }
                        });

                    }
                });

                if (isAdvancedUpload) {
                    $form.addClass('has-advanced-upload');

                    $form.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                    })
                    .on('dragover dragenter', function() {
                        $form.addClass('is-dragover');
                    })
                    .on('dragleave dragend drop', function() {
                        $form.removeClass('is-dragover');
                    })
                    .on('drop', function(e) {
                        droppedFiles = e.originalEvent.dataTransfer.files;
                        if(fileExtValid(droppedFiles, $form.attr('data-allowed-type')))
                            $form.trigger('submit');
                    });
                } else {
                    $input.on('change', function(e) { // when drag & drop is NOT supported
                        $form.trigger('submit');
                    });
                }

                $input.on('change', function(e) {
                    $form.trigger('submit');
                });
            }

            $('.chooseArea').click(function(event) {
                event.preventDefault();
                $(this).parents('label').trigger('click');
            }).keypress(function(event) {
                if(event.keyCode == 13) {
                    event.preventDefault();
                    $(this).parents('label').trigger('click');
                }
            });

            function gerReg(fileTypesString) {
                // Format likes: jpg,jpeg,png
                var pattern = fileTypesString.replace(/,/g, "|");
                return new RegExp(".+\.{1}(" + pattern + ")$", "g");
            }

            function fileExtValid(files, allowedFileTypes) {
                var testPattern = gerReg(allowedFileTypes);
                var notAllowedFiles = [];
                files = [].slice.call(files);
                files.forEach(function(e) {
                    if(!testPattern.test(e.name)) notAllowedFiles.push(e.name);
                });
                if(notAllowedFiles.length == 0) { return true; }
                else {
                    console.log(notAllowedFiles)
                    alert('下列檔案不符合格式： ' + notAllowedFiles.join(', ') + '\n目前可接受的格式： ' + allowedFileTypes);
                    return false;
                }
            }

            function getFileArrayString(files) {
                try {
                    return files.reduce(function(p, c, idx, arr) {
                        if(idx == (arr.length - 1)) return p + c.fileName;
                        else return p + c.fileName + ";";
                    }, "");
                } catch (e) {
                    return "";
                }
            }

            function bindRemoveClicks() {
                $('.removeStlFile').click(function() {
                    var val = $('#stlStr').val();
                    var listItem = $(this).parent();
                    var removeVal = listItem.attr('data-value');
                    var pattern = new RegExp(removeVal + ";?", "g");
                    val = val.replace(pattern, function(match) {
                        listItem.remove();
                        return '';
                    });
                    $('#stlStr').val(val);
                });

                $('.removeImageFile').click(function() {
                    var val = $('#imageStr').val();
                    var listItem = $(this).parent();
                    var removeVal = listItem.attr('data-value');
                    var pattern = new RegExp(removeVal + ";?", "g");
                    val = val.replace(pattern, function(match) {
                        listItem.remove();
                        return '';
                    });
                    $('#imageStr').val(val)
                });
            }

            fileUploader(
                $('#upload-box-input-stl-file'),
                function(stlArr) {
                    var fileListBox = $('#upload-box-input-stl-file').find('.file-list');
                    $.each(stlArr, function(i, e) {
                        var listItem = $('<li data-value=' + '"' + e.fileName + '"><span class="removeStlFile" style="font-weight:900;color:red;border:1px solid red;margin-left:5px;">'+e.fileShowname +'<img src="@routes.Application.imageAt("admin_images", "delete.png")" title="icon image" alt="icon image" height="30" width="30"></span></li>');
                        fileListBox.append(listItem);
                    });
                    bindRemoveClicks();
                    var newStlStr = $('#stlStr').val();
                    if(newStlStr != '') newStlStr += ";";
                    newStlStr += getFileArrayString(stlArr);
                    $('#stlStr').val(newStlStr);
                }
            );

            fileUploader(
                $('#upload-box-input-image-file'),
                function(imageArr) {
                    var fileListBox = $('#upload-box-input-image-file').find('.file-list');
                    $.each(imageArr, function(i, e) {
                        var listItem = $('<li data-value=' + '"' + e.fileName + '"><span class="removeImageFile" style="font-weight:900;color:red;border:1px solid red;margin-left:5px;">' + e.fileShowname + '<img src="@routes.Application.imageAt("admin_images", "delete.png")" title="icon image" alt="icon image" height="30" width="30"></span></li>');
                        fileListBox.append(listItem);
                    });
                    bindRemoveClicks();
                    var newImageStr = $('#imageStr').val();
                    if(newImageStr != '') newImageStr += ";";
                    newImageStr += getFileArrayString(imageArr);
                    $('#imageStr').val(newImageStr);
                }
            );

         //   $('.input-list-box-container').click(function(e) {
         //       e.stopPropagation();
         //       $(this).find('.input-list-box').toggle();
         //   });

         //   $('.input-list-box > div').click(function(e) {
         //       e.stopPropagation();
         //       var listBox = $($(this).parent());
         //       var selectBox = $(listBox.next());
         //      var inputEle = $(selectBox.next());
         //       selectBox.val($(this).attr('data-value'));
         //       inputEle.attr('placeholder', $(selectBox.find('option:selected')).text());
         //       listBox.hide();
         //   });

            $('.modelTags').click(function(e) {
                var unselectedStyle = {
                    backgroundColor : "#fff",
                    color: "#000"
                };
                var selectedStyle = {
                    backgroundColor : "#000",
                    color: "#fff"
                };
                $('.modelTags').css(unselectedStyle);
                $(this).css(selectedStyle);
                $('#modelTags').val($(this).attr('data-value'));
            });

           // $('body').click(function() {
           //      $('.input-list-box').hide();
           // });

        });

    </script>

<!--新的刪除列表滑動式窗-->
<script>
$(document).ready(function(){
  $('p.file').click(function(){
    $('span.removeStlFile').slideToggle();
  }).siblings('span.removeStlFile').hide();


});


$(document).ready(function(){
  $('p.image').click(function(){
    $('span.removeImageFile').slideToggle();
  }).siblings('span.removeImageFile').hide();


});
</script>
<style>
input.license_cc {
color: #FF0000;
}
input.sample:-ms-input-placeholder {
    color: #FF0000;
    font-weight: normal;
}

input.sample::-moz-placeholder {
    color: #FF0000;
    font-weight: normal;
}
input.sample::-webkit-input-placeholder {
    color: #FF0000;
    font-weight: normal;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #FF0000;
}
</style>


}

@main("Upload Model - Fast Lab")(message)(header) {
    <section>
        <div class="container">
            <div class="column-12">
                @helper.form(
                    action = routes.Application.uploadFileByForm(),
                    'method -> "method='post'",
                    'enctype -> "multipart/form-data",
                    'class -> "upload-box",
                    'id -> "upload-box-input-stl-file",
                    Symbol("data-allowed-type") -> "STL,stl,OBJ,obj,stp,step,sat,wml,pdf,7z,zip"
                ) {
                    <div class="text-center">
			<span class="article-title guideline-title text-center">1. 上傳您的3D模型</span>
                  <!--      <img src="@routes.Application.imageAt("images", "ic_upload.png")"  title="icon image" alt="icon image">-->
                    </div>
                    <!--<div class="text-center">@Messages("upload.dragstl")</div>-->
                    <div class="column-12">
                        <label class="text-center" for="stl">
                            <p class="column-5 column-ms-8 block-center menu-button">
                                <a class="chooseArea" href="#" tabindex="20">
                                @Messages("upload.file")</a>
                            </p>
                        </label>
                        <button class="upload-box-button" type="submit">Upload</button>
                    </div>
                    <input id="stl" type="file" name="files[]" multiple hidden/></p>

                    <div class="upload-box-tip text-center"><span>**在穩定的網路環境上傳**</br>支援的檔案類型:STL,stl,OBJ,obj,stp,step,sat,wml,pdf,(檔案大小 < 30M)
</span></div>
		
<div class="column-12">
<div class="text-center upload-box has-advanced-upload">
<ul>

<p class="gallery-detail-title file">Thing Files Delete<img src="@routes.Application.imageAt("admin_images", "expand-button.png")" title="icon image" alt="icon image" height="30" width="40"></p>
<ul class="file-list">
</ul>
</ul>
}
</div>
</div>
</div>

            <div class="column-12">
                @helper.form(
                    action = routes.Application.uploadFileByForm(),
                    'method -> "method='post'",
                    'enctype -> "multipart/form-data",
                    'class -> "upload-box",
                    'id -> "upload-box-input-image-file",
                    Symbol("data-allowed-type") -> "jpg,jpeg,png,svg,gif"
                ) {
                    <div class="text-center">
			<span class="article-title guideline-title text-center">2. 上傳您的圖片</span>
                       <!--<img src="@routes.Application.imageAt("images", "ic_upload.png")"  title="icon image" alt="icon image">-->
                    </div>
                    <!--<div class="text-center">@Messages("upload.dragthumbnail")</div>-->
                    <div class="column-12">
                        <label class="text-center" for="image">
                            <p class="column-5 column-ms-8 block-center menu-button">
                                <a class="chooseArea" href="#" tabindex="21">@Messages("upload.file")</a>
                            </p>
                        </label>
                        <button class="upload-box-button" type="submit">Upload</button>
                    </div>
                    <input id="image" type="file" name="files[]" multiple hidden/></p>

                    <div class="upload-box-tip text-center"><span>支援的檔案類型:JPG, PNG</br>建議的圖片比例:500x400  (檔案大小 < 5M)
</span></div>


<div class="column-12">
<div class="text-center upload-box has-advanced-upload">
<ul>

<p class="gallery-detail-title image">Thing Images Delete<img src="@routes.Application.imageAt("admin_images", "expand-button.png")"  title="icon image" alt="icon image" height="30" width="40"></p>
<ul class="file-list">
</ul>
</ul>
}
</div>
</div>
</div>






            <div class="column-12">
                @helper.form(
                    action = routes.Application.submitModel(),
                    'method -> "method='post'",
                    'enctype -> "multipart/form-data",
                    'class -> "upload-box",
                    'id -> "upload-box-model-detail"
                ) {
                    <div class="text-center upload-box has-advanced-upload">
			<div class="article-title guideline-title text-center" style="margin:-20px">3. 基本資訊</div></br>
                        <input id="stlStr" type="text" name="stl" hidden>
                        <input id="imageStr" type="text" name="image" hidden>

			@CSRF.formField

                        <div class="column-12">
                            <input id="modelName" name="modelName" class="column-6 column-m-8 column-s-10 menu-text" type="text" placeholder="作品名稱 - Model Name" tabindex="22"/>
                        </div>

                        <div class="column-12">
                            <textarea id="description" name="description" class="column-6 column-m-8 column-s-10 menu-text" placeholder="作品描述 - Model Description" style="height:200px;" tabindex="23"></textarea>
                        </div>

                        <div class="column-12">
                            <input id="scenario" name="scenario" class="column-6 column-m-8 column-s-10 menu-text" type="text" placeholder="應用場景 - Model Scenario" tabindex="24"/>
                        </div>

                        <div class="column-12">
                            <input id="instruction" name="instruction" class="column-6 column-m-8 column-s-10 menu-text" type="text" placeholder="列印建議 - Model Instruction" tabindex="25"/>
                        </div>

                        <div class="column-12">
                            <div class="column-6 column-m-8 column-s-10 block-center input-list-box-container">
                                <div class="column-12 input-list-box hide">
                                    @for(category <- iiimodelcategories){
                                        <div class="column-12" data-value="@category.categoryID">@category.categoryName</div>
                                    }
                                </div>
                                <select class="select-width column-12" id="category" name="category" >

                                    @for(category <- iiimodelcategories){
                                        <option class="menu-text" value="@category.categoryID">@category.categoryName</option>
                                    }
                                </select>
                                <!--input  class="column-12 menu-text" type="text" placeholder="作品分類 - Model Category" tabindex="26" readonly="true"/>
                                <img class="image-arrow" src="@routes.Application.imageAt("images", "ic_list2.png")"  title="icon image" alt="icon image">
                                -->
                            </div>
                        </div>

                        <div class="column-12">
                            <div class="column-6 column-m-8 column-s-10 block-center input-list-box-container">
                                <div class="column-12 input-list-box hide">
                                    @for(license <- iiimodellicense){
                                        <div class="column-12" data-value="@license.licenseID">@license.licenseName</div>
                                    }
                                </div>
                                
                                <select class="select-width column-12" id="license" name="license">
                                    @for(license <- iiimodellicense){

					@if(license.licenseID==3){
					<option value="@license.licenseID" selected="@license.licenseID">@license.licenseName</option>}else{
                                        <option class="menu-text license_cc sample" value="@license.licenseID">@license.licenseName</option>
                                    }
                                    }
                                </select>
                                
                                <!--
                                <input  class="column-12 menu-text  license_cc sample" type="text" placeholder="作品授權 - 姓名標示-非商業性"  tabindex="27" readonly="true"/>
                                <img class="image-arrow" src="@routes.Application.imageAt("images", "ic_list2.png")"  title="icon image" alt="icon image">
                                -->
				</div>
<!--                	<br><p style="color: red">*參加3D列印夢想家主題設計競賽參賽者，需選擇下列中一種授權方式:</p>
</br><br>
<p style="color: red">姓名標示-非商業性</p>
<p style="color: red">姓名標示-非商業性-相同方式分享<p>
<p style="color: red">姓名標示-非商業性-禁止改作<p>
	</br>-->	        </div>
			
                        <div class="column-12">
                            <div>** 活動資訊（可複選） **</div>
                        </div>

                        <div class="column-12">
                            <div class="column-6 column-s-8 block-center text-center">
                                @if(campaigns != null) {
                                    @for((campaign, index) <- campaigns.zipWithIndex) {
                                        <input class="menu-radio-button modelTags" type="button" value="@campaign.campaignTitle" data-value="@campaign.campaignID" tabindex="@(28 + index)"/>
                                    }
                                }
                                <input class="column-6 menu-radio-button modelTags" type="button" value="無參加活動" data-value="0" tabindex="40"/>
                                <input id="modelTags" name="modelTags" class="hide" type="text">
                            </div>
                        </div>

                        <div class="column-12">
                            <p class="column-6 column-ms-8 block-center">
                                <input class="column-12 menu-button" type="button" id="newmodel" value="上傳 - New Model" onclick="submitnewmodel()" tabindex="41">
                            </p>
                        </div>
                    </div>

                }
            </div>
        </div>
<!--
        <div class="cloumn-12">
            <div class="column-12 text-center">
                <p class="article-title guideline-title">@Messages("upload.inst")</p>
                <p>1.@Messages("upload.file")</p>
                <p>2.@Messages("upload.preview")</p>
                <p>3.@Messages("upload.edit")</p>
                <p>4.@Messages("upload.deploy")</p>
            </div>
            <div class="column-12 text-center">
                <p class="article-title guideline-title">@Messages("upload.support")</p>
                <p>stl,&nbsp;wml,&nbsp;obj&nbsp;(size&nbsp;<&nbsp;5M)</p>
            </div>
        </div>
-->

    </section>
}
